@import url("/variables.css");

body {
    margin: 0;
    padding: 0;
    background-color: #101013;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}

header {
    height: 11vh;
}

.screen {
    text-align: center;
}

.intro {
    position: relative;
}

.intro video {
    width: 100%;
    height: auto;
    opacity: 0.4;
    position: relative;
}

.intro h2,
.intro button.blue {
    position: absolute;
    bottom: 30%;
    right: 5%;
}

.intro h2 {
    right: 20px;
    font-size: 5vw;
}

.intro button.blue {
    bottom: 10%;
    right: 20px;
    background-color: var(--blue);
    color: #fff;
    border: none;
    padding: 0.75rem 2rem;
    cursor: pointer;
    font-weight: bold;
}

.intro h2+.intro button.blue {
    margin-top: 10px;
}

.intro-option {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-option h3 {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
}

.intro-option a {
    flex-basis: 33.33%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    word-break: break-word;
}

.intro-option>a {
    transition: color 0.2s ease-in-out 0s;
    max-width: 300px;
    margin-bottom: 38px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--lightgray);
}

.intro-option>a>h3 {
    font-weight: bold;
}

.intro-option a {
    transition: color 0.4s ease;
}

.intro-option a:hover {
    color: #fff;
}

.continuous-scroll {
    width: 100%;
    #fff-space: nowrap;
    overflow: hidden;
    animation: scrollText 30s linear infinite;
}

.continuous-scroll p {
    width: 100%;
    font-size: 50px;
    font-weight: 700;
    color: var(--lightgray);
}

.intro-option button.normal {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}


.f-option li img {
    animation: riseIn 5s infinite;
}

.digital {
    background-color: #fff;
}

.news li a:hover {
    animation: riseIn2 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: scale(1);
}

.apply:hover {
    animation: riseIn2 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: scale(1);
    cursor: pointer;
}

.comment {
    padding-bottom: 100px;
}



.f-option ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.f-option li {
    flex-basis: 33.33%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    word-break: break-word;
}

.f-option .item-title {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
}

.item-desc {
    max-width: 500px;
    margin-bottom: 38px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--lightgray);
}

.item-img img {
    border-radius: 50%;
    width: 25vw;
}

.news {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news ul {
    display: flex;
    flex-direction: column;
}

.news li {
    border-bottom: 1px solid rgb(51, 61, 75);
    margin: 2vh;
}

.news li a {
    text-align: left;
    display: block;
    margin-top: 14px;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.4em;
    color: black;
    transition: all 0.2s ease 0s;
}

.news .news-c {
    color: var(--blue);
    font-weight: bold;
    text-align: left;
}

.news .news-date {
    color: silver;
    text-align: right;
}

.news-title {
    color: black;
}

.img-container {
    animation: moveUpDown 0.8s infinite alternate;
}

.mockupimg {
    width: 70%;
}

.icon {
    width: 50px;
}

.pro-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.pro-intro ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.pro-intro li {
    display: flex;
    width: 80%;
    height: 30%;
    background-color: var(--lightblack);
    border-radius: 10px;
    padding: 20px;
    margin: 2vh;
    align-items: center;
    animation: floatUpDown 2s ease infinite alternate;
}

.pro-intro .icon {
    margin-right: 1vw;
}

.pro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.pro-intro p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

.who {
    width: 400px;
    background-color: #e9f2fd;
    border-radius: 10px;
    padding: 30px;
    margin: 5vw;
}

.who p {
    text-align: left;
}

.who .type {
    color: var(--deepblue);
    font-weight: bold;
    font-size: 1.2rem;
}

.who .point {
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.who p {
    color: var(--lightblack);
}

.deco {
    width: 120px;
    margin-left: 180px;
}

.apply {
    background-color: var(--deepblue);
    color: #fff;
    border-radius: 30px;
    padding: 15px;
    width: 100px;
    border: none;
}

.who .apply {
    margin: 3vh;
}

.how {
    width: 400px;
    background-color: var(--deepblue);
    border-radius: 10px;
    padding: 30px;
    margin: 5vw;
}

.how p {
    text-align: left;
}

.how .type {
    font-weight: bold;
    font-size: 1.2rem;
}

.how .point {
    font-weight: bold;
    font-size: 2rem;
}

.how p {
    color: #fff;
}

.info_box {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 2vh;
}

.info_box p {
    color: black;
    font-weight: bold;
}

.how .apply {
    background-color: #fff;
    color: black;
    margin: 3vh;
}

.goal {
    width: 400px;
    background-color: #fae7e5;
    border-radius: 10px;
    padding: 30px;
    margin: 5vw;
}

.goal p {
    text-align: left;
}

.goal .type {
    color: #6c131a;
    font-weight: bold;
    font-size: 1.2rem;
}

.goal .point {
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.goal p {
    color: var(--lightblack);
}

.goal .deco {
    margin-left: 280px;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 21px;
}

h4 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    margin-right: 12px;
    color: var(--lightgray);
}

h6 {
    color: var(--lightgray);
    font-size: .875rem;
    font-weight: 700;
}

.intro-banner img {
    width: 30px;
    margin-top: -150px;
}

.comment {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--lightgray);
}

.financial>h3,
.digital>h3,
.pro>h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    color: var(--lightgray);
    margin-bottom: 200px;
}

.digital h2 {
    padding-top: 100px;
    color: black;
}

.intro-banner h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    margin-top: 10px;
}

.img-container {
    margin-bottom: 50px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div>h2 {
    margin-top: 200px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.scroll-container {
    scroll-behavior: smooth;
    display: block;
    text-align: center;
    margin: auto;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
}

.fix {
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 1;
}

footer div {
    background-color: #1a1f27;
    padding: 20px;
}

footer p {
    color: #5f6670;
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
}

.mark {
    width: 150px;
}

.logo-mark {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* keyframes */
@keyframes scrollText {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

@keyframes riseIn {
    0% {
        opacity: 0.3;
    }

    25% {
        opacity: 0.6;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes riseIn2 {
    0% {
        transform: translateY(0) scale(1);
    }

    100% {
        transform: translateY(0) scale(1.03);
    }
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}


/* PC */
@media (min-width: 1024px) {
    header {
        height: 11vh;
        padding: 0;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 0.95rem;
        padding: 1vh 0;
    }

    .home {
        display: flex;
        align-items: center;
        padding: 1vw;
        font-weight: 700;
    }

    .home img {
        height: 3vh;
        padding: 0;
        padding-right: 0.6vw;
    }

    nav ul {
        margin-left: 9vw;
    }

    nav li {
        display: inline-block;
        padding: 0 2vw;
    }

    nav li a:hover {
        color: #0046FF;
    }
}

/* Tablet */
@media all and (min-width: 768px) and (max-width:1023px) {
    header {
        height: 11vh;
        padding: 0;
    }

    nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        font-size: 0.85rem;
        padding: 1vh 0;
    }

    .home {
        display: flex;
        align-items: center;
        padding: 1vw;
        padding-top: 2vh;
        font-weight: 700;
    }

    .home img {
        height: 3vh;
        padding: 0;
        padding-right: 0.6vw;
    }

    nav ul {
        margin-left: 29vw;
    }

    nav li {
        text-align: right;
        list-style: none;
        padding: 0 2vw;
    }

    nav li a:hover {
        color: #0046FF;
    }
}

/* Mobile */
@media all and (max-width: 768px) {
    header {
        height: 11vh;
        padding: 0;
    }

    nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        font-size: 0.85rem;
        padding: 1vh 0;
    }

    .home {
        display: flex;
        align-items: center;
        padding: 1vw;
        padding-top: 2vh;
        font-weight: 700;
    }

    .home img {
        height: 3vh;
        padding: 0;
        padding-right: 0.6vw;
    }

    nav ul {
        margin-left: 5vw;
    }

    nav li {
        text-align: right;
        list-style: none;
        padding: 0 2vw;
    }

    nav li a:hover {
        color: #0046FF;
        font-weight: bold;
    }

    .pro-content .who,
    .pro-content .how,
    .pro-content .goal {
        width: 70vw;
    }

    .deco {
        display: none;
    }
}