@import url("/variables.css");

body {
    margin: 0;
    padding: 0;
    background-color: #101013;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
}

.screen {
    text-align: center;
}

.intro {
    position: relative;
}

.intro video {
    width: 100%;
    height: auto;
    opacity: 0.4;
    position: relative;
}

.intro h2,
.intro button.blue {
    position: absolute;
    bottom: 30%;
    right: 5%;
}

.intro h2 {
    right: 20px;
    font-size: 5vw;
}

.intro button.blue {
    bottom: 10%;
    right: 20px;
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    cursor: pointer;
    font-weight: bold;
}

.intro h2+.intro button.blue {
    margin-top: 10px;
}

.intro-option {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-option h3 {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
}

.intro-option a {
    flex-basis: 33.33%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    word-break: break-word;
}

.intro-option>a {
    transition: color 0.2s ease-in-out 0s;
    max-width: 300px;
    margin-bottom: 38px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: #b0b8c1;
}

.intro-option>a>h3 {
    font-weight: bold;
}

.intro-option a {
    transition: color 0.4s ease;
}

.intro-option a:hover {
    color: white;
}

.f-option ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.f-option li {
    flex-basis: 33.33%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    word-break: break-word;
}

.f-option .item-title {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
}

.item-desc {
    max-width: 500px;
    margin-bottom: 38px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: #b0b8c1;
}

.item-img img {
    border-radius: 50%;
    width: 25vw;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .news ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .news li {
    width: 90%;
    height: 30%;
    margin: 2vh;
    background-color: #17171c;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
  }
  
  .news li a {
    text-align: left;
    color: white;
    display: block;
    padding: 15px;
  }
  
  .news li:hover {
    background-color: #343d4c;
  }
@keyframes slideInLeftToCenter {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }

  @keyframes slideInRightToCenter {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }

  .news li:nth-child(1) {
    animation: slideInLeftToCenter 1s ease-in-out forwards;
  }
  
  .news li:nth-child(2) {
    animation: slideInRightToCenter 1s ease-in-out 1s forwards;
  }
  
  .news li:nth-child(3) {
    animation: slideInLeftToCenter 1s ease-in-out 2s forwards;
  }

  .mockupimg {
    width: 70%;
  }

  .icon {
    width: 50px;
  }

.pro-intro {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pro-intro ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.pro-intro li {
    display: flex;
    width: 80%;
    height: 30%;
    background-color: #17171c;
    border-radius: 10px;
    padding: 20px;
    margin: 2vh;
    align-items: center;
}

.pro-intro .icon {
    margin-right: 1vw;
}

.pro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.who {
    width: 400px;
    background-color: #e9f2fd;
    border-radius: 10px;
    padding: 30px;
    margin: 5vw;
}

.who p {
    text-align: left;
}

.who .type {
    color: #103791;
    font-weight: bold;
    font-size: 1.2rem;
}

.who .point {
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.who p {
    color: #17171c;
}

.deco {
    width: 120px;
    margin-left: 120px;
}

.apply {
    background-color: #103791;
    color: white;
    border-radius: 30px;
    padding: 15px 30px;
    border: none;
}

.how {
    width: 400px;
    background-color: #103791;
    border-radius: 10px;
    padding: 30px;
    margin: 5vw;
}

.how p {
    text-align: left;
}

.how .type {
    font-weight: bold;
    font-size: 1.2rem;
}

.how .point {
    font-weight: bold;
    font-size: 2rem;
}

.how p {
    color: white;
}

.info_box {
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 2vh;
}

.info_box p {
    color: black;
    font-weight: bold;
}

.how .apply {
    background-color: white;
    color: black;
    margin: 3vh;
}

.goal {
    width: 400px;
    background-color: #fae7e5;
    border-radius: 10px;
    padding: 30px;
    margin: 5vw;
}

.goal p {
    text-align: left;
}

.goal .type {
    color: #6c131a;
    font-weight: bold;
    font-size: 1.2rem;
}

.goal .point {
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.goal p {
    color: #17171c;
}

.goal .deco {
    margin-left: 280px;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 21px;
}

h4 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    margin-right: 12px;
    color: #b0b8c1;
}

.comment {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.financial>h3, .digital>h3, .pro>h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    color: #b0b8c1;
    margin-bottom: 200px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div>h2 {
    margin-top: 200px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.scroll-container {
    scroll-behavior: smooth;
    display: block;
    text-align: center;
    margin: auto;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
}

.fix {
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 1;
}


/* PC */
@media (min-width: 1024px) {}

/* Tablet */
@media all and (min-width: 768px) and (max-width:1023px) {
    /* .intro-option a {
        flex-basis: 100%;
      } */
}

/* Mobile */
@media all and (max-width: 767px) {}