@media (min-width: 1024px) {
    * {
        background-color: #101012;
        color: #E4E4E5;
    }

    body {
        margin: 0 10vw;
    }
    
    header {
        height: 11vh;
        padding: 0;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 0.95rem;
        padding: 1vh 0;
    }
    
    .home {
        display: flex;
        align-items: center;
        padding: 1vw;
        font-weight: 700;
    }
    
    .home img {
        height: 3vh;
        padding: 0;
        padding-right: 0.4rem;
    }
    
    nav ul {
        margin-left: 9vw;
    }
    
    nav li {
        display: inline-block;
        padding: 0 2vw;
    }
    
    nav li a {
        text-decoration: none;
    }
    
    .title {
        margin: 7vh 0 7vh 7vw;
        display: flex;
        align-items: center;
    }
    
    .title img {
        height: 12vh;
        padding: 0;
    }
    
    .title_text {
        display: inline-block;
        padding: 0;
    }
    
    .title h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 1.1vw;
    }
    
    .title p {
        font-size: 1rem;
        color: #9E9EA3;
        margin-top: 0.7vh;
        padding-left: 1.3vw;
    }
    
    .profiles {
        display: flex;
        justify-content: center;
        margin: 12vh 0;
    }
    
    .profile {
        text-align: center;
        background-color: #17171B;
        border-radius: 1rem;
        padding: 2rem;
        margin: 1rem;
    }
    
    .profile:hover {
        padding-bottom: 2rem;
        transform: translate(0, -1rem);
        background-color: rgb(255, 255, 255, 10%);
    }
    
    .profile img {
        width: 10vw;
        height: 18vh;
        overflow: hidden;
        object-fit: scale-down;
        margin-bottom: 1vh;
        background-color: transparent;
    }
    
    .profile p {
        font-size: 1.1rem;
        margin: 0;
        background-color: transparent;
    }
    
    footer {
        display: flex;
        justify-content: center;
        align-items: center; /* 이미지 수직 정렬 */
        height: 10vh;
    }
    
    footer img:first-child {
        height: 4vh;
    }
}