* {
    /* background-color: black;
    color: white; */
    padding: 0 2vw;
}

header {
    height: 11vh;
}

.title {
    margin: 7vh 0;
}

.title h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0;
}

.title p {
    font-size: 1.2rem;
    font-weight: 600;
}

.profiles {
    display: flex;
    justify-content: center;
    margin: 12vh 0;
}

.profile {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
    border-radius: 1rem;
    transition: all 0.125s ease-in 0s;
    padding: 2rem;
    margin: 1rem;
}

.profile:hover {
    border: 1px solid #0044FF;
    box-shadow: (#0044FF/20%) 0px 4px 16px 0px;
}

.profile img {
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 1rem;
}

.profile p {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center; /* 이미지 수직 정렬 */
}

footer img:first-child {
    height: 4vh;
}

footer img:nth-child(2) {
    height: 9vh;
}

footer img:nth-child(3) {
    height: 5.5vh;
}