* {
    color: #E4E4E5;
}

body {
    margin: 0;
    padding: 0;
    background-color: #101013;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

header {
    height: 11vh;
}

a {
    text-decoration: none;
}

.title {
    margin: 6vh 17vw;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7vh;
    padding-bottom: 25vh;
}

footer div {
    background-color: #1a1f27;
    padding: 20px;
}

footer p {
    color: #5f6670;
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
    text-align: center;
}

.mark {
    width: 150px;
}

.logo-mark {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 0.95rem;
        padding: 1vh 0;
    }
    
    .home {
        display: flex;
        align-items: center;
        padding: 1vw;
        font-weight: 700;
    }
    
    .home img {
        height: 3vh;
        padding: 0;
        padding-right: 0.6vw;
    }
    
    nav ul {
        margin-left: 9vw;
    }
    
    nav li {
        display: inline-block;
        padding: 0 2vw;
    }

    nav li a:hover {
        color: #0046FF;
    }
    
    .section {
        margin: 7vh 0 7vh 7vw;
    }
    
    .title li {
        display: inline-block;
        padding: 1vw;
    }

    .title li a:hover {
        color: #0046FF;
    }

    .title .main {
        font-size: 2rem;
        font-weight: bold;
    }

    .title .main a {
        color: #0046FF !important;
    }

    article img {
        width: 20vw;
    }

    .tags {
        width: 40vw;
    }

    .tags li {
        display: inline-block;
        list-style: none;
        margin: 1vh;
        padding: 1vh 1.5vw;
        background-color: #17171B;
        border-radius: 1rem;
    }

    .tags li:hover {
        background-color: rgb(255, 255, 255, 5%);
        color: #0046FF;
    }
}

@media all and (min-width: 768px) and (max-width:1023px) { 
    nav {
        display: flex;
        align-items:flex-start;
        justify-content: space-evenly;
        font-size: 0.85rem;
        padding: 1vh 0;
    }
    
    .home {
        display: flex;
        align-items: center;
        padding: 1vw;
        padding-top: 2vh;
        font-weight: 700;
    }
    
    .home img {
        height: 3vh;
        padding: 0;
        padding-right: 0.6vw;
    }
    
    nav ul {
        margin-left: 29vw;
    }
    
    nav li {
        text-align: right;
        list-style: none;
        padding: 0 2vw;
    }

    nav li a:hover {
        color: #0046FF;
    }
    
    .section {
        margin: 7vh 0 7vh 7vw;
    }
    
    .title li {
        display: inline-block;
        padding: 1vw;
        font-size: 0.9rem;
    }

    .title li a:hover {
        color: #0046FF;
    }

    .title .main {
        font-size: 1.8rem;
        font-weight: bold;
    }

    .title .main a {
        color: #0046FF !important;
    }

    article img {
        width: 23vw;
    }

    .tags {
        width: 40vw;
    }

    .tags li {
        display: inline-block;
        list-style: none;
        margin: 1vh;
        padding: 1vh 1.5vw;
        background-color: #17171B;
        border-radius: 1rem;
        font-size: 0.9rem;
    }

    .tags li:hover {
        background-color: rgb(255, 255, 255, 5%);
        color: #0046FF;
    }
}

@media all and (max-width: 767px) {
    nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        font-size: 0.85rem;
        padding: 1vh 0;
    }
    
    .home {
        display: flex;
        align-items: center;
        padding: 1vw;
        padding-top: 2vh;
        font-weight: 700;
    }
    
    .home img {
        height: 3vh;
        padding: 0;
        padding-right: 0.6vw;
    }
    
    nav ul {
        margin-left: 5vw;
    }
    
    nav li {
        text-align: right;
        list-style: none;
        padding: 0 2vw;
    }
 
    nav li a:hover {
        color: #0046FF;
    }
    
    .section {
        margin: 7vh 0 7vh 7vw;
    }
    
    .title li {
        display: inline-block;
        padding: 1vw;
        font-size: 0.8rem;
    }

    .title li a:hover {
        color: #0046FF;
    }

    .title .main {
        font-size: 1.6rem;
        font-weight: bold;
    }

    .title .main a {
        color: #0046FF !important;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4vh;
        padding-bottom: 14vh;
    }

    article img {
        width: 30vw;
    }

    .tags {
        width: 70vw;
    }

    .tags li {
        display: inline-block;
        list-style: none;
        margin: 1vh;
        padding: 1vh 1.5vw;
        background-color: #17171B;
        border-radius: 1rem;
        font-size: 0.8rem;
    }

    .tags li:hover {
        background-color: rgb(255, 255, 255, 5%);
        color: #0046FF;
    }
}