@import "/variables.css";

.menu li {
    display: inline-block;
    list-style: none;
    background-color: var(--blue);
    border-radius: 50px;
    padding: 20px 50px;
    margin: 20px;
}

.menu li a {
    text-decoration: none;
    color: white;
}