* {
    color: #E4E4E5;
}

body {
    margin: 0;
    padding: 0;
    background-color: #101013;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

header {
    height: 11vh;
}

a {
    text-decoration: none;
}

.title {
    margin: 6vh 17vw;
    display: flex;
    align-items: center;
}

footer div {
    background-color: #1a1f27;
    padding: 20px;
}

footer p {
    color: #5f6670;
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
    text-align: center;
}

.mark {
    width: 150px;
}

.logo-mark {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 0.95rem;
        padding: 1vh 0;
    }
    
    .home {
        display: flex;
        align-items: center;
        padding: 1vw;
        font-weight: 700;
    }
    
    .home img {
        height: 3vh;
        padding: 0;
        padding-right: 0.6vw;
    }
    
    nav ul {
        margin-left: 9vw;
    }
    
    nav li {
        display: inline-block;
        padding: 0 2vw;
    }

    nav li a:hover {
        color: #0046FF;
    }
    
    .title img {
        height: 12vh;
        padding: 0;
    }
    
    .title_text {
        display: inline-block;
        padding: 0;
    }
    
    .title h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 1.1vw;
    }
    
    .title p {
        font-size: 1rem;
        color: #9E9EA3;
        margin-top: 0.7vh;
        padding-left: 1.3vw;
    }
    
    .boxes {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 8vh 17vw 20vh 17vw;
    }

    .box {
        text-align: center;
        background-color: #17171B;
        border-radius: 1rem;
        padding: 0;
        margin: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .box:hover {
        background-color: rgb(255, 255, 255, 5%);
    }

    .box img {
        margin: 0;
        background-color: transparent;
    }
    
    .box img {
        width: 60vw;
    }

    .box p {
        font-size: 1.1rem;
        margin: 0;
        margin-top: 3vw;
        background-color: transparent;
    }

    .link p {
        margin-bottom: 3vw;
    }

    .box:hover p {
        color: #0046FF !important;
    }

    .box p a {
        background-color: transparent;
    }
}

@media all and (min-width: 768px) and (max-width:1023px) {   
    nav {
        display: flex;
        align-items:flex-start;
        justify-content: space-evenly;
        font-size: 0.85rem;
        padding: 1vh 0;
    }
    
    .home {
        display: flex;
        align-items: center;
        padding: 1vw;
        padding-top: 2vh;
        font-weight: 700;
    }
    
    .home img {
        height: 3vh;
        padding: 0;
        padding-right: 0.6vw;
    }
    
    nav ul {
        margin-left: 29vw;
    }
    
    nav li {
        text-align: right;
        list-style: none;
        padding: 0 2vw;
    }

    nav li a:hover {
        color: #0046FF;
    }
    
    .title img {
        height: 10vh;
        padding: 0;
    }
    
    .title_text {
        display: inline-block;
        padding: 0;
    }
    
    .title h1 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 1.1vw;
    }
    
    .title p {
        font-size: 0.9rem;
        color: #9E9EA3;
        margin-top: 0.7vh;
        padding-left: 1.3vw;
    }
    
    .boxes {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 8vh 17vw 20vh 17vw;
    }

    .box {
        text-align: center;
        background-color: #17171B;
        border-radius: 1rem;
        padding: 0;
        margin: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .box:hover {
        background-color: rgb(255, 255, 255, 5%);
    }

    .box img {
        margin: 0;
        background-color: transparent;
    }
    
    .box img {
        width: 60vw;
    }

    .box p {
        font-size: 1rem;
        margin: 0;
        margin-top: 3vw;
        background-color: transparent;
    }

    .link p {
        margin-bottom: 3vw;
    }

    .box:hover p {
        color: #0046FF !important;
    }

    .box p a {
        background-color: transparent;
    }
}

@media all and (max-width: 767px) {   
    nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        font-size: 0.5rem;
        padding: 1vh 0;
    }
    
    .home {
        display: flex;
        align-items: center;
        padding: 1vw;
        padding-top: 2vh;
        font-weight: 700;
    }
    
    .home img {
        height: 3vh;
        padding: 0;
        padding-right: 0.6vw;
    }
    
    nav ul {
        margin-left: 5vw;
    }
    
    nav li {
        text-align: right;
        list-style: none;
        padding: 0 2vw;
    }
 
    nav li a:hover {
        color: #0046FF;
    }
    
    .title img {
        height: 6vh;
        padding: 0;
    }
    
    .title_text {
        display: inline-block;
        padding: 0;
    }
    
    .title h1 {
        font-size: 1.7rem;
        font-weight: bold;
        margin: 0;
        padding-left: 1.1vw;
    }
    
    .title p {
        display: none;
    }
    
    .boxes {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 8vh 17vw 20vh 17vw;
    }

    .box {
        text-align: center;
        background-color: #17171B;
        border-radius: 1rem;
        padding: 0;
        margin: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box:hover {
        background-color: rgb(255, 255, 255, 5%);
    }

    .box img {
        margin: 0;
        background-color: transparent;
    }
    
    .box img {
        width: 60vw;
    }

    .box p {
        font-size: 0.9rem;
        margin: 0;
        margin-top: 3vw;
        background-color: transparent;
    }

    .link p {
        margin-bottom: 3vw;
    }

    .box:hover p {
        color: #0046FF !important;
    }

    .box p a {
        background-color: transparent;
    }
}